<p-tabView>
  <div *ngFor=" let key of keys();">
    <p-tabPanel header="{{key}}" [closable]="key !== 'search'" [selected]="key === selectedPanel" (click)="selectTab(key)">
      <div *ngIf="panels[key] === 'searchPanel'">
        <app-search-panel (openMainTxnTab)="showNewTxnTab($event)" (openMainDispTab)="showNewDispTab($event)"></app-search-panel>
      </div>
      <div *ngIf="panels[key] === 'transactionPanel'">
        <app-transaction-panel></app-transaction-panel>
      </div>
      <div *ngIf="panels[key] === 'disputePanel'">
        <app-dispute-panel></app-dispute-panel>
      </div>
    </p-tabPanel>
  </div>
</p-tabView>